# Clipra Scraper Engine Configuration

# Application Port
PORT=3000

# Environment: development / production
NODE_ENV=development

# Proxy Configuration (Opsional)
# Format: http://user:pass@host:port atau http://host:port
# Contoh (Residential Proxy): http://username:password@proxy.provider.com:8888
PROXY_URL=

# Browser Automation Settings
# Set to false if you want to see the browser head (Debug only)
BROWSER_HEADLESS=true

# Log Level: info / warn / error / debug
LOG_LEVEL=info
